@if (currentBoardId$(); as currentBoardId) {
	<select [ngModel]="currentBoardId"
			(ngModelChange)="userActionChangeBoard($event)"
			(click)="userActionBoardSelectionClicked()"
			name="board">
		@if (boards$(); as allBoards) {
			@for (board of allBoards; track trackByBoardId($index, board)) {
  				<option [ngValue]="board.id"
						[selected]="board.id === currentBoardId">
					{{board.id}} - {{board.name}}
				</option>
			}
			@if (this.boardService.allBoardsLoading$()) { <option disabled>Loading...</option> }
		} @else {
			<option disabled [ngValue]="currentBoardId">Loading...</option>
		}
	</select>
}
