<div style="display: flex; flex-direction: column; align-items: center; gap: 10px">
    <!-- Top navigation buttons. -->
    <ng-container *ngTemplateOutlet="navigation"></ng-container>

    <img *ngIf="cat$ | push as cat" [src]="cat.url">

    <!-- Bottom navigation buttons. -->
    <ng-container *ngTemplateOutlet="navigation"></ng-container>

</div>

<!-- Navigation actions template. -->
<ng-template #navigation>
    <div *ngIf="cats$ | push"
         style="display: flex; justify-content: center; gap: 2px">
        <button (click)="actionReset()">RESET</button>
        <button [disabled]="!(hasPrevious$ | push)"
                (click)="actionPrevious()">
            PREVIOUS
        </button>
        <button [disabled]="!(hasNext$ | push)"
                (click)="actionNext()">
            NEXT
        </button>
    </div>
</ng-template>
