<select *rxLet="currentBoxId$; let currentBoxId"
        [ngModel]="currentBoxId"
        (ngModelChange)="userActionChangeBox($event)"
        (click)="userActionBoxSelectionClicked()"
        name="box">
    <ng-container *rxLet="boxes$; let allBoxes; suspense: loading">
        <option *ngFor="let box of allBoxes; trackBy: trackByBoxId"
                [ngValue]="box.id"
                [selected]="box.id === currentBoxId">
            {{box.id}} - {{box.name}}
        </option>
        <option disabled *ngIf="this.boxService.allBoxes$.inProgress$ | push">Loading...</option>
    </ng-container>

    <ng-template #loading>
        <option disabled [ngValue]="currentBoxId">Loading...</option>
    </ng-template>
</select>
