<nav>
    <ul>
        <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">Home</a></li>
        <li><a [routerLink]="['/box', 1]" routerLinkActive="active" ariaCurrentWhenActive="page">Box 1</a></li>
        <li><a [routerLink]="['/box', 2]" routerLinkActive="active" ariaCurrentWhenActive="page">Box 2</a></li>
        <li><a [routerLink]="['/box', 3]" routerLinkActive="active" ariaCurrentWhenActive="page">Box 3</a></li>
    </ul>
</nav>

App root

<router-outlet></router-outlet>
